.tshirt-container{
    border: 1px solid palegoldenrod;
    border-radius: 15px;
    padding: 10px;
}
.t-img{
    width: 300px;
    height: 400px;
}

.cart-btn{
    width: 50%;
    background-color: bisque;
    border-radius: 8px;
    border: 0px;
    padding: 10px;
    cursor: pointer;
}